.article-container {
  width: 95%;         /* Full width on smaller screens */
  margin-top: 2%;       /* Side margins */
  padding: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f7f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Ensure the article list is a flex container for better responsiveness */
.article-list {
  list-style-type: none; /* Remove default list styling */
  padding: 0;           /* Remove default padding */
}

/* Article item styling */
.article-item {
  margin: 20px 0;      /* Vertical spacing between articles */
  padding: 15px;       /* Internal padding */
  border: 1px solid #ddd; /* Border around each article */
  border-radius: 5px;  /* Rounded corners */
  background-color: #fff; /* White background for articles */
  transition: box-shadow 0.3s; /* Smooth hover effect */
}

/* Hover effect */
.article-item:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Shadow on hover */
}

.title {
  font-size: 1.5rem;
  margin: 0 0 10px 0;
}

.info {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 0.5em;
}

.info-item {
  display: flex;
  gap: 5px;
}

.item-badge {
  background-color: #e0e0e0;
  border-radius: 5px;
  padding: 0px 4px;
  font-size: 0.8rem;
  box-shadow: 1px 1px 1px #000;
}

.description {
  margin: 10px 0;
  font-size: 1rem;
  color: #333;
}

.button-container {
  text-align: right; /* Aligns the button to the right */
}

.button {
  margin-top: 10px; /* Adds space above the button */
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .article-container {
    margin: 1%; /* Reduce margins for smaller screens */
    padding: 10px; /* Reduce padding for smaller screens */
  }

  .article-item {
    margin: 15px 0; /* Reduce margin between articles */
    padding: 10px; /* Reduce internal padding */
  }

  .article-detail-header {
    flex-direction: column; /* Stack details vertically */
    align-items: flex-start; /* Align items to the start */
  }

  .title {
    font-size: 1.5rem; /* Decrease font size for titles */
  }

  .info {
    font-size: 0.9rem; /* Smaller font for info */
  }

  .description {
    font-size: 0.9rem; /* Smaller font for descriptions */
  }

  .button-container {
    text-align: center; /* Center buttons on smaller screens */
  }

  .item-badge {
    margin: 0 5px; /* Adjust margin for badges */
    font-size: 0.8rem; /* Smaller font for badges */
  }
}

/* Further adjustments for mobile devices */
@media (max-width: 480px) {
  .title {
    font-size: 1.2rem; /* Further decrease title size */
  }

  .info {
    font-size: 0.8rem; /* Further decrease info size */
  }

  .description {
    font-size: 0.8rem; /* Further decrease description size */
  }
}
