.code-snippet {
  position: relative;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-top: 20px;
  font-size: 14px;
}

.copy-icon {
  position: absolute;
  padding: 2px 4px;
  border: #212529 1px solid;
  border-radius: 15%;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: #495057; /* Bootstrap primary color */
  transition: background-color 0.2s;
}

.copy-icon:hover {
  background-color: #ced4da;
}

.tooltip {
  background-color: #282828d9; /* Darker background */
  color: #fff;
  margin-top: 5px;
  padding: 5px 10px; /* More padding for better appearance */
  border-radius: 4px;
  position: absolute;
  z-index: 1000; /* Ensure it's above other elements */
  pointer-events: none; /* Prevent tooltip from capturing mouse events */
  opacity: 0.9;
  transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

.tooltip.fade-out {
  opacity: 0; /* Fade out state */
}

pre {
  white-space: pre-wrap; /* Allow line breaks */
  word-wrap: break-word; /* Wrap long lines */
}

.icons-container {
  display: flex;
  justify-content: center;
}
