/* Ensure the container and background styling */
.background-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.main-container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5em;
    align-items: center;
}

.content {
    font-size: 2rem;
    font-weight: bold;
    color: #41464b;
    display: flex;
    align-items: center;
}

/* Styling for each animated letter */
.animated-letter {
    display: inline-block;
    opacity: 0;
    animation: typingLetters 0.05s ease forwards;
}

/* Container for the dots */
.dots {
    display: inline-flex;
    font-size: 2rem;
    margin-left: 5px;
    height: 1.5rem;
}

.dots::before {
    content: ""; /* Initial content */
    display: inline-block;
    animation: typingDots 2s infinite;
    animation-delay: 2.5s;
}

/* Keyframes for the typing effect */
@keyframes typingDots {
    0% {
        content: ""; /* Content at the start */
    }

    33% {
        content: "."; /* Midpoint change */
    }

    66% {
        content: ".."; /* Another change */
    }

    100% {
        content: "..."; /* Loop back to original content */
    }
}

@keyframes typingLetters {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* CTA button styling */
.cta-button {
    margin-top: 5rem;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    color: #dee2e6;
    background-color: #495057;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.cta-button:hover {
    background-color: #6c757d;
}

.tutorials-section {
    display: flex;
    justify-content: center;
}

/* Responsive rules for phone view */
@media (max-width: 768px) {
    .main-container {
        margin: 0 2em;
        align-items: center; /* Center items in smaller screens */
        text-align: center; /* Center the text */
    }

    .content {
        font-size: 1.6rem;
        justify-content: center;
        align-items: center;
    }

    .dots {
        font-size: 1.6rem; /* Adjust size of dots */
        margin-left: 0; /* Align the dots to the center */
    }

    .cta-button {
        padding: 0.6rem 2rem; /* Adjust button padding */
        font-size: 1.6rem; /* Adjust button font size */
    }

    .background-container {
        background-position: top; /* Adjust background position for smaller screens */
    }
}

@media (max-width: 480px) {
    .main-container {
        margin: 0 1em; /* Further adjust margins for very small screens */
    }

    .content {
        font-size: 1.2rem;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    .dots {
        font-size: 1.2rem;
    }

    .cta-button {
        font-size: 1.2rem; /* Further reduce button font size */
        margin-top: 30%;
    }
}