/* Ensure the container and background styling */
.background-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-position: center;
}

.main-container {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 5em;
}

.content {
    font-size: 2rem;
    font-weight: bold;
    color: #41464b;
    display: flex;
}

/* Styling for each animated letter */
.animated-letter {
    display: inline-block;
    opacity: 0;
    animation: typingLetters 0.05s ease forwards;
}


/* Container for the dots */
.dots {
    display: inline-flex;
    font-size: 2rem;
    margin-left: 5px;
    content: "";
}

.dots::before{
    content: "";  /* Initial content */
    display: inline-block;
    animation: typingDots 2s infinite;
    animation-delay: 2.5s;
}

/* Keyframes for the typing effect */
@keyframes typingDots {
    0% {
        content: ""; /* Content at the start */
    }
    33% {
        content: "."; /* Midpoint change */
    }
    66% {
        content: ".."; /* Another change */
    }
    100% {
        content: "..."; /* Loop back to original content */
    }
}

@keyframes typingLetters {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

/* CTA button styling */
.cta-button {
    margin-top: 2rem;
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    color: #dee2e6;
    background-color: #9d6b53;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 5px;
}

.cta-button:hover {
    background-color: #774936;
}

/* Footer styling */
.footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #212529;
    color: #dee2e6;
    position: relative;
}
