.about-me-container {
  display: flex;
  flex-direction: column;
  background-color: #f4f4f4; /* Light gray background */
  padding: 30px;
  border-radius: 10px;
  margin-top: 40px;
  height: fit-content;
}

.about-me-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%; /* Full width */
  max-width: 1200px; /* Maximum width for larger screens */
}

.about-me-pane {
  flex: 1; /* Allow this pane to grow */
  margin-right: 20px; /* Space between panes */
}

.profile-image {
  max-width: 250px; /* Set a fixed width */
  height: auto; /* Keep aspect ratio */
  border-radius: 10px;
  margin-bottom: 20px;
}

.skills-list {
  display: flex;           /* Enables flexbox */
  flex-wrap: wrap;         /* Allows items to wrap onto the next line */
  padding: 0;
  margin: 0;
  background-color: #f4f4f4; /* Background color for the entire list */
  list-style-type: none;   /* Removes default list item markers */
}

.skills-list li {
  padding: 10px 15px;      /* Padding inside each <li> */
  margin: 5px;             /* Space between list items */
  background-color: white; /* White background for each item */
  border: 1px solid #ddd;  /* Border for each item */
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Optional: Adds a subtle shadow to each item */
  border-radius: 10px;
}

.bio-content {
  flex: 2; /* Allow this pane to take up more space */
}

/* Ensure skills are stacked at the bottom on smaller screens */
.skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Social links */
.social-links {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.social-links a {
  margin: 0 10px; /* Space between icons */
}

/* Responsive Styles */
@media (max-width: 768px) {
  .about-me-content {
      flex-direction: column; /* Stack content vertically */
      align-items: center; /* Center items */
  }

  .about-me-pane {
      margin-right: 0; /* Remove right margin */
      margin-bottom: 20px; /* Add bottom margin */
  }

  .profile-image {
    width: 220px;
    border-radius: 40%;
    margin-right: 20px;
    box-shadow: 2px 4px 8px #343a40;

  }

  .bio-content h2 {
      font-size: 1.8rem; /* Decrease font size */
  }

  .bio-content p {
      font-size: 1rem; /* Decrease font size for paragraphs */
  }

  .social-links {
      flex-direction: row; /* Align icons in a row */
      justify-content: center;
  }

  .skills-list {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .about-me-content {
      flex-direction: column; /* Ensure vertical stacking */
      align-items: center; /* Center items */
  }

  .bio-content {
      order: 1; /* Make sure bio comes first */
      width: 100%; /* Full width for bio content */
  }

  .skills-container {
    display: flex;
    align-items: center;
    width: 100%; /* Full width for skills */
    margin-top: 20px; /* Space above skills */
  }

  .bio-content h2 {
      font-size: 1.6rem; /* Further decrease font size */
  }

  .bio-content p {
      font-size: 0.9rem; /* Further decrease font size for paragraphs */
  }

  .social-links a {
      margin: 0 5px; /* Reduce margin for smaller screens */
  }
}
