/* Custom Navbar Styling */
.navbar-custom {
  padding: 4px;
  transition: background-color 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
  z-index: 1000;
}

/* Transparent Background */
.navbar-transparent {
  backdrop-filter: blur(10px); /* Adds a blur effect for better readability */
}

.dark-theme{
  color: #aeaeae;
}

.light-theme{
  color: rgba(0, 0, 0, 0.9);
}

/* Solid Background on Scroll */
.navbar-bg {
  /* background-color: rgba(255, 255, 255, 0.3); */
  backdrop-filter: blur(4px); /* Adds a blur effect for better readability */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

/* Logo Styling */
.logo {
  width: 60px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.logo:hover {
  transform: scale(1.1);
}

.navbar-brand{
  padding-top: 0px;
  padding-bottom: 0px;
}

/* Navbar Toggle (Hamburger) */
.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23555' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

/* Nav Links Styling */
.animated-link {
  position: relative;
  color: #555555 !important;
  font-size: 1rem;
  margin-right: 20px;
  transition: color 0.3s ease-in-out;
}

.animated-link::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2rem;
  bottom: 4px;
  left: 0;
  border-radius: 10%;
  transition: background-color 0.3s ease-in-out;
}

.animated-link:not(.no-hover):hover::after{
  background-color: rgba(60, 60,60, 0.7);
}

.navbar-expand-md .navbar-collapse {
  justify-content: flex-end;
}

/* Align Nav Items to the Right */
.navbar-nav {
  align-items: center;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .animated-link {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-transparent {
    background-color: rgba(255, 255, 255, 0.8);
  }

  .navbar-bg {
    background-color: #ffffff;
  }
}



/* ToggleSwitch css */

.toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 5px;
  margin-right: 5px;
}

/* Hide the default checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

/* The circle inside the slider */
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* When checked, change background color */
.toggle-switch input:checked + .slider {
  background-color: #2196F3;
}

/* Move the circle when checked */
.toggle-switch input:checked + .slider:before {
  transform: translateX(26px);
}

/* Optional: Add focus styles */
.toggle-switch input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

.theme-slider{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}