/* tutorial.css */

/* Tutorial Wrapper */
.tutorial-wrapper {
  margin: 80px 20px 20px 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.dark-theme{
  background-color: #495057;
}

.light-theme{
  background-color: #FAFAFA;
}

/* Tutorial Title */
.tutorial-title {
  margin-bottom: 10px;
  font-size: 32px;
  font-weight: 700;
}

/* Tutorial Meta Information */
.tutorial-category,
.tutorial-publish-date,
.tutorial-languages {
  font-size: 16px;
  margin: 5px 0;
  /* color: #555555; */
}

.tutorial-category::before {
  content: 'Category: ';
  font-weight: 600;
}

.tutorial-publish-date::before {
  content: 'Published on: ';
  font-weight: 600;
}

.tutorial-languages::before {
  content: 'Programming Languages: ';
  font-weight: 600;
}

/* Language List */
.language-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 5px;
}

.language-badge {
  padding: 5px 10px;
  border-radius: 12px;
  background-color: #ddd;
  color: #242424;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.language-badge.active {
  background-color: #007bff;
  color: #ffffff;
}

.language-badge:hover,
.language-badge:focus {
  background-color: #3498db;
  color: #ffffff;
  outline: none;
}

/* Tutorial Headers */
.tutorial-wrapper h3 {
  margin: 20px 0 10px 0;
  border-bottom: 2px solid #3498db;
  padding-bottom: 5px;
  font-size: 20px;
  font-family: 'Sohne', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  color: #333333;
}

/* Tutorial Details */
.tutorial-details {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.function-description {
  margin: 10px 0;
  font-style: italic;
  /* color: #555555; */
}

hr {
  margin: 20px 0;
  border: none;
  border-top: 1px solid #ddd;
}

/* Loading Indicator */
.loading-indicator {
  text-align: center;
  font-size: 1.5rem;
  color: #777777;
}

/* Error Message */
.error-message {
  text-align: center;
  font-size: 1.2rem;
  color: #e74c3c;
}

.nav-tabs .light-theme{
  border-color: #000 !important;
}

.nav-tabs{
  border-color: #000 !important;
}

/* Hover State - Light Theme */
.tutorial-wrapper.light-theme .nav-tabs .nav-link:hover {
  background-color: #f0f0f0;
  color: #000;
  border-color: #ddd;
}

/* Active State - Light Theme */
.tutorial-wrapper.light-theme .nav-tabs .nav-link.active {
  background-color: #fff;
  color: #000; /* Bootstrap's primary color */
  border-color: #ddd #ddd #fff;
}

/* Hover State - Dark Theme */
.tutorial-wrapper.dark-theme .nav-tabs .nav-link:hover {
  background-color: #6f6f6f;
  color: #fff;
  border-color: #454d55;
}

/* Active State - Dark Theme */
.tutorial-wrapper.dark-theme .nav-tabs .nav-link.active {
  background-color: #4d4d4d;
  color: #fff;
  border-color: #343a40 #343a40 #4d4d4d;
}

/* Responsive Design */
@media (max-width: 768px) {
  .tutorial-wrapper {
    margin: 60px 10px 10px 10px;
    padding: 15px;
  }

  .tutorial-title {
    font-size: 28px;
  }

  .tutorial-wrapper h3 {
    font-size: 18px;
  }

  .language-badge {
    padding: 4px 8px;
    font-size: 14px;
  }
}
