/* :root - Global CSS Variables */
:root {
  --background-color-light: #f8f9fa;
  --background-navbar-color-light: #dee2e6;
  --background-color-dark: #343a40;
  --background-navbar-color-dark: #212529;
  --text-color-light: #333;
  --text-color-dark: #c9c9c9;
  --primary-color-light: #3498db;
  --primary-color-dark: #4db8ff;
  --secondary-color-light: #2ecc71;
  --secondary-color-dark: #27ae60;
  --button-bg-color-light: var(--primary-color-light);
  --button-bg-color-dark: var(--primary-color-dark);
  --button-text-color: #fff;

  /* Font Variables */
  --font-body: 'Arial', sans-serif;
  --font-size-base: 16px;
  --font-size-small: 14px;
  --font-size-xsmall: 13px;
  --heading-font-size-h1: 2rem;
  --heading-font-size-h2: 1.75rem;
  --heading-font-size-h3: 1.5rem;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Spacing Variables */
  --base-padding: 20px;
  --small-padding: 10px;
  --xsmall-padding: 5px;

  /* Breakpoints */
  --breakpoint-tablet: 768px;
  --breakpoint-phone: 480px;

  /* Transition Duration */
  --transition-duration: 0.4s;
}

body {
  background-color: var(--background-color-light);
  color: var(--text-color-light);
  font-family: var(--font-body);
  font-size: var(--font-size-base);
  transition: background-color var(--transition-duration) ease-in-out;
}

.dark-mode {
  background-color: var(--background-color-dark);
  color: var(--text-color-dark);
}

/* Button styles */
button {
  background-color: var(--button-bg-color-light);
  color: var(--button-text-color);
  transition: background-color 0.3s ease;
}

/* button:hover {
  background-color: var(--secondary-color-light);
} */

/* .dark-mode button {
  background-color: var(--button-bg-color-dark);
} */

/* .dark-mode button:hover {
  background-color: var(--secondary-color-dark);
} */
  